@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono:500|Work+Sans:400');

html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

.wrapper {
  margin-top: 4rem;
  margin-bottom: 8rem;
  margin-left: 2rem;
  margin-right: 2rem;
  max-width: 800px;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5 {
  font-family: 'Work Sans', sans-serif;
  border-bottom: 1px solid #eaecef;
  padding-top: .3em;
  padding-bottom: .3em;
}

p, ol, ul {
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: 'Roboto Mono', monospace;
  font-size: 90%;
  color: #717171;
}

a {
  color: #0062ff;
  text-decoration: none;
}

.video {
  padding: 1em;
}

.input {
  color: #de1159;
  font-style: italic;
}


.to-top {
  bottom: 1rem;
  right: 2rem;
  display: block;
  position: fixed;
  z-index: 200000;
  cursor: pointer;
  user-select: none;
}
